body {
    background-color: #ffffce;
}

article {
    border: 2px solid rgb(140, 141, 141);
    width: 50%;
    background-color: white;
    margin: 10px;

}



#art3 {
    border: 2px dotted rgb(140, 141, 141);
    color: red;
}

div {
    margin: 10px;
}

#div3 {
    border: 2px dotted red;
}

.lor {
    background-color: rgb(246, 154, 6);
}

.dum {
    background-color: yellow;
}